.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}
.card{
  border: 1px solid rgba(66, 63, 63, 0.89);
  padding: 20px;
  margin-top: 50px;
}

.top{
  font-size: 20px;
  font-weight: 500;
}